/* :root{
    --primary-white-color: #ffffff;
    --accent-color:#2196F3;
    --title-text-color:#212121;
    --primary-text-color:#757575;
} */


/* body{
    font-family: "Roboto", serif;
    background-color: var(--primary-white-color);
    font-size: 14px;
    color: var(--primary-text-color);
}
img{
    display: block;
}

.list{
    list-style: none;
    padding: 0;
    margin: 0;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
} */

/* Header */
 /* .header-background{
    border-bottom: 1px solid#ECECEC;;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    color: black;
    line-height: normal;
    text-decoration: none;
}
.logo-part{
    color: var(--accent-color)
}
.site-nav{
    display: flex;
    margin-left: 93px;
    margin-top: 0;
    margin-bottom: 0;
}
.site-nav .item{
    position: relative;
    margin-right: 50px;
    padding-left: 2px;
    padding-right: 1px;
}
.site-nav .item:last-child{
    margin-right: 0;
}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    align-items: center;
}
.site-nav .link{
    display: block;
    color: var(--title-text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    padding-top: 32px;
    padding-bottom: 32px;
}


.site-nav .link:hover,  
.site-nav .link:focus{
    color: var(--accent-color)
}
.line-bottom{
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
    left: 0;
    bottom: 0;
}
.auth-nav{
    display: flex;
}
.auth-nav .item{
    margin-right: 50px;

}
.auth-nav .item:last-child{
    margin-right: 0;
}

.auth-nav .link {
    color: var(--primary-text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
}
.auth-icon{
    margin-right: 10px;
}

.auth-nav .link:hover,
.auth-nav .link:focus{
    color: var(--accent-color);
    fill: var(--accent-color);
}  */
/* .location{
    color: var(--primary-white-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
        text-decoration: none;
} */
/* .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
} */
/* Hero */
/* .hero-background{
    background-color: gray;
        text-align: center;
}
.overlay{
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image:linear-gradient(#2F303A66,
        #2F303A66), url(../images/img.jpg);
    
}
.hero-button{
    margin-top: 30px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.hero-title{
    padding-top: 200px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-white-color);
    background-color: transparent;
    text-align: center;
        font-size: 44px;
        font-weight: 900;
        line-height: 1.36;
        letter-spacing: 2.64px;
        text-transform: uppercase;
}
.button{
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    text-align: center;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.96px;
} */

/* .section{
padding-bottom: 94px;
padding-top: 94px;
} */

/* .section-title{
    color: #212121;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
        margin-top: 0;
        margin-bottom: 50px;
} */


/* Feature */
/* .feature-list .title{
    color: #212121;    
        font-size: 14px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 10px;
}

.feature-list{
    display: flex;
}
.feature-list .item{
    width: calc((100%-90px)/4);
    margin-right: 30px;
}
.feature-picture{
    display: flex;
    height: 120px;
    width: calc((100%-90px)/4);
    background-color: #F5F4FA;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
.feature-list .item:last-child{
    margin-right: 0;
}
.feature-title{
    color: #212121;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.08px;
        margin-top: 0;
        margin-bottom: 50px;
}
.feature-description {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
} */
/* Work */

/* .work-list{
    display: flex;
}


.work-list .item{
    position: relative;
    width: calc((100% - 60px)/3);
    margin-right: 30px;
    margin-bottom: 0;
    height:294px;
}
.work-list .item:last-child{
    margin-right: 0;
}
.title-backdrop {
    position: absolute;
    background: rgba(47, 48, 58, 0.80);
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
}
.title-backdrop .title{

    color: var(--primary-white-color);
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        padding-top: 27px;
        padding-bottom: 27px;
        margin-top: 0;
        margin-bottom: 0;
} */

/* Team */
/* .social-list{
    display: flex;
    justify-content: center;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--primary-white-color);
    cursor: pointer;
    fill: #AFB1B8;

}
.icon:hover{
    fill:white;
}
.info-item{
    margin-right: 10px;
}
.info-item:last-child{
    margin-right: 0;
}
.icon{
    margin-right:10px;
    
}

.icon:hover{
    background-color: var(--accent-color)
}

.icon:last-child{
    margin-right: 0;
}
.team-info{
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
    background-color: var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
}
.team-background{
    background-color: #F5F4FA;
}
.team-list{
    display: flex;
}
.team-list .item{
    background-color: #ffffff;
    width: calc((100% - 90px)/4);
    margin-right: 30px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    border-radius: 0px 0px 4px 4px;
}
.team-list .item:last-child{
margin-right: 30px;
}
.team-list .name{
    margin-top: 0;
    color:var(--title-text-color);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.48px;
} */

/* Clients */
/* .clients-list{
    display: flex;
}
.clients-list .item{
    width: calc((100% - 150px)/6);
    height: 92px;
    margin-right: 30px;
}
.clients-list .item .link{
    display: flex;
    fill: #AFB1B8;
    padding:16px 32px ;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.clients-list .item .link:hover,
.clients-list .item .link:focus{
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);


}
.clients-list .item:last-child{
    margin-right: 0;
} */



/* Example */


/* Footer */
/* 
.footer-background {
    background-color: #2F303A;
}
.info{
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;

}
.address-nav{
    margin-top: 20px;
}

.address-nav .item{
    margin-bottom: 9px;
}
.address-nav .item:last-child{
    margin-bottom: 0;
}
.address-nav .link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
        font-style: normal;
        font-weight: 400;
        line-height: 1.71;                  
        letter-spacing: 0.42px;
}
.address-nav .link:hover,
.address-nav .link:focus{
    color: var(--accent-color);
}
.down-logo{
    color: white;
}
.link-title{
    color:var(--primary-white-color);
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 12px;
}
.down-link{
    margin-left: 70px;
}
.down{
    background-color:rgba(255, 255, 255, 0.10);
    fill: var(--primary-white-color);
}

.input-text{
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.input-text::placeholder{
    color: rgba(255, 255, 255, 0.60);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.25;
        letter-spacing: 0.48px;
}
.follow {
    margin-left:auto;
}
.follow-input{
    display: flex;
}
.follow-btn{
    display: flex;
    align-items: center;
    margin-left: 12px;
    border-radius: 4px;
        background: #2196F3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding: 10px 28px;
        color: var(--primary-white-color);
        text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 1,87;
            letter-spacing: 0.96px;
            cursor: pointer;
}
.follow-icon{
    margin-left: 10px;
} */
/* Portfolio */
/* .radio-list{
    display: flex;
    justify-content: center;
    margin-top: 94px;
}
.radio-list .item{
    margin-right: 8px;
}
.radio-list .item:last-child{
    margin-right: 0;
}

.radio {
    background-color: #F5F4FA;
    color: var(--title-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.62;
    letter-spacing: 0.48px;
    padding: 6px 22px;
    border-radius: 4px;
    border: none;

}

.radio:focus,
.radio:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
    cursor: pointer;
} */
/* .example-list .link {
    text-decoration: none;
}


.example-list .title {
    color: var(--title-text-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px
}

.example-list .item{
    width: calc((100%-60px)3);
    height: 404px;
}
.example-list .item:hover{
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.example-list{
    display: flex;
    flex-wrap: wrap;
    gap: 27px;
    margin-top: 50px;
    margin-bottom: 94px;
}
.example-list .link {
    padding: 0;
    margin: 0;
}
.card-info{
    padding: 20px 24px;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
    
.card-overlay{
    position: relative;
    overflow: hidden;
}

.card-text{
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 370px;
    height: 294px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    transform: translateY(101%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.example-list .item:hover .card-text{
    transform: translateY(0%);
}
.text-style{
    color: var(--primary-white-color);
        font-size: 18px;
        font-weight: 400;
        line-height: 1.55;
        letter-spacing: 0.54px;
}
.card-info .title{
    margin-top: 0;
    margin-bottom: 0;
    color: #212121;
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        letter-spacing: 1.08px;
}
.card-info .position{
    margin-top: 0;
    margin-bottom: 0;    
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.875;
        letter-spacing: 0.48px;
    color: var(--primary-text-color);
} */



/* Modal */
/* .backdrop{
    position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        z-index: 2;
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
} */

/* .modal{
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background-color: var(--primary-white-color);
    z-index: 3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal .title {
    color: #212121;
        text-align: center;
        font-size: 20px;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.6px;
        margin: 0;
        margin-bottom: 12px;
}
.close-button{
    display: block;
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: var(--primary-white-color);
    border-radius: 50%;
    top: 8px;
    right: 8px;
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 0;
}
.icon-close{
    display: flex;
        align-items: center;
        justify-content: center;
}
.close-button:hover, .close-button:focus{
    fill: var(--accent-color);
} */

/* .label{
    color:var(--primary-text-color);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
        margin-left: 4px;
}
.field{
    position: relative;
    margin-bottom: 10px;
    margin-top: 4px;
}
.form-input{
    width: 100%;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 12px;
    padding-left: 40px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
}
.icon-svg{
    position: absolute;
    top: 11px;
    left: 12px;
}

.form-input:hover{
    border: 1px solid var(--accent-color);
    cursor: pointer;
}
.form-input:hover + .icon-svg{
    fill:var(--accent-color)
}

.form-textarea{
    height: 120px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    resize: none;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 10px;
}
.form-textarea::placeholder {
    color: rgba(117, 117, 117, 0.50);
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12px;
}
.form-textarea:hover, .form-textarea:focus{
    border: 1px solid var(--accent-color);
    cursor: pointer;
}   
.policy{
    display: flex;
}
.check{
    display: flex;
    appearance: none;
    align-items: center;
    
}
.check-input{
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
}
.custom-check{
    align-items: center;
    display: flex;
    width: 16px;
    height: 15px;
    border: 2px solid var(--title-text-color);
    margin-right: 7px;
    border-radius: 3px;
}
.check-input:checked + .custom-check{
    background-color: var(--accent-color);
    border-color: transparent;
}
.policy-link{
    color: var(--accent-color);
}
.policy-link:hover{
    text-decoration: none;
}
.submit-button{
    text-align: center;
    margin-top: 20px;
}
.btn{
    background-color: var(--accent-color);
        color: var(--primary-white-color);
        font-size: 16px;
        font-weight: 700;
        line-height: 1.9;
        letter-spacing: 0.06em;
        text-align: center;
        padding: 10px 52px;
        border-color: transparent;
        border: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
